{{>layouts/header}}

<!-- Form Section -->
<section class="form-container">
    <h2 class="form-title">Fill Out the Form</h2>
        {{#article}}
        <form action="/articles/update" method="POST" class="container">
        <input name="id" type="hidden" value="{{id}}" />
        <div class="form-group">
            <label for="text-input">Your Name</label>
            <input type="text" id="text-input" name="title" placeholder="Enter your name" required value="{{title}}">
        </div>

        <div class="form-group">
            <label for="textarea-input">Your Message</label>
            <textarea id="textarea-input" name="content" placeholder="Write your message" rows="5" required>{{content}}</textarea>
        </div>

        <button type="submit" class="btn-submit">Submit</button>
        <a href="articles/{{id}}">Back</a>
    </form>
            {{/article}}
</section>


{{>layouts/footer}}

